<p id="notice"><%= notice %></p>
 <div class="field">
    user id= <br />
    <%= session[:current_user_id] %>
  </div>
<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Level:</b>
  <%= @player.level %>
</p>

<p>
  <b>Ranking:</b>
  <%= @player.ranking %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
